<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="false" >
    
     <!--write logs to file-->  
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

     <!--another file log, only own logs. Uses some ASP.NET core renderers--> 
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!--another file log, only own logs. Uses some ASP.NET core renderers-->
    <target xsi:type="File" name="rlf_file" fileName="c:\temp\nlog-rlf-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--在rules节点，指定四个target输出日志的级别-->
    <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL /(小级别) 跟踪、调试、信息、警告、错误、致命 (大级别) -->
    <!--name - 日志源/记录者的名字 (允许使用通配符*) C#调用的时候 LogManager.GetLogger("这里就是name值")
        minlevel - 该规则所匹配日志范围的最小级别
        maxlevel - 该规则所匹配日志范围的最大级别
        level - 该规则所匹配的单一日志级别
        levels - 该规则所匹配的一系列日志级别，由逗号分隔。
        writeTo - 规则匹配时日志应该被写入的一系列目标，由逗号分隔。
        final - 标记当前规则为最后一个规则。其后的规则即时匹配也不会被运行。-->
    
    <!--All logs, including from Microsoft-->
    <logger name="TradeHelper.Controllers.*" minlevel="Trace" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <!-- BlackHole without writeTo -->
    <logger name="TradeHelper.Controllers.*" minlevel="Trace" writeTo="ownFile-web" />

    <!--特定名字-->
    <logger name="rlf" level="Debug" writeTo="rlf_file" />
    
  </rules>
</nlog>